@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body{
  margin:0;
  background:#f6faf8;
  font-family:"SF Thonburi","SFThonburi",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
}
